@import "variables";

// Compute font config
@include mat-core($fontConfig);

$theme-primary: mat-palette($mat-primary, main, lighter, darker);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

$mat-success: darken(#00c48c, 10%);

$tertiary: #d5cfcf;

@mixin labels($theme) {
  mat-label.tertiary {
    color: $tertiary;
  }
}

@mixin buttons($theme) {
  button.mat-raised-button.mat-primary {
    color: #ffffff;
  }
}

@mixin text($theme) {
  h1.title {
    color: #555555;
    font-weight: bold;
  }

  .mat-info {
    color: #0095ff;
  }

  .text-white {
    color: #ffffff;
  }
}

@mixin mat-nav-list($theme) {
  mat-nav-list.mat-nav-list.mat-list-base {
    a.mat-list-item.mat-focus-indicator.active {
      color: #ffffff;
    }
  }

  mat-nav-list.mat-nav-list.mat-list-base {
    a div.mat-list-item-content {
      font-size: 0.9em;
    }
  }
}

@mixin mat-form-field($theme) {
}

@mixin item($theme) {
  .item-form {
    width: 80px;
    background-color: #d5cfcf;
    border-color: transparent;
    color: #555555;
    text-align: center;
  }
  .item-form-auto {
    width: auto;
  }
  .item-form:focus {
    outline: none;
  }
  .active {
    background-color: #f8f8f8;
  }
}

@mixin list($theme) {
  .list-item {
    background-color: #f7f7f7;
    padding: 10px 5px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: #d5cfcf;
    }
  }

  .list-item-dark {
    background-color: #d5cfcf;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
  }

  .list-item-light {
    background-color: #f0f2f4;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  .list-item-selected {
    background-color: #afc226;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
  }

  .list-order {
    max-height: 425px;
    overflow: auto;
    padding-right: 5px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      background: #a8a8a8;
    }

    @media only screen and (min-height: 900px) {
      min-height: 650px;
    }
  }

  .list-register {
    max-height: 300px;
    overflow: auto;
    padding-right: 5px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      background: #a8a8a8;
    }

    @media only screen and (min-height: 900px) {
      min-height: 650px;
    }
  }

  .list-item {
    max-height: 200px;
    overflow: auto;
    padding-right: 5px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      background: #a8a8a8;
    }
  }
}

.list {
  max-height: 400px;
  overflow: auto;
  padding-right: 5px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background: #a8a8a8;
  }
}
.form-item {
  max-height: 350px;
  overflow: auto;
  padding-right: 5px;
  width: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background: #a8a8a8;
  }
  @media only screen and (min-height: 900px) {
    min-height: 650px;
  }
}

@mixin alert($theme) {
  .alert-error {
    // color: #fff;
    padding: 10px 5px;
    border-radius: 5px;
    background: lighten($color: #e42311, $amount: 30%);
    margin-top: 5px;
  }
}

@mixin mat-spinner($theme) {
  .spinner-sm {
    width: 64px;
    height: 36px;
  }
}

@mixin variables($theme) {
  $red: #e1443d;
  $yellow: #fce363;
  $green: #3cc880;
  $complete: #f0f2f4;

  .control,
  .critical,
  .monitoring,
  .nothing {
    width: 100%;
    height: 100%;
    color: white;
  }

  .controlTable,
  .criticalTable,
  .monitoringTable,
  .nothingTable {
    width: 100%;
    color: white;
  }

  .monitoring,
  .monitoringTable {
    background-color: $yellow;
    color: #555555;
  }

  .complete {
    background-color: $complete;
    color: #555555;
  }
  .control,
  .controlTable {
    background-color: $green;
  }

  .critical,
  .criticalTable {
    background-color: $red;
  }

  .nothing,
  .nothingTable {
    background-color: #d5cfcf;
    color: #555555;
  }
}

@mixin mat-snackbar($theme) {
  snack-bar-container {
    &.success {
      background-color: $mat-success;
    }

    &.error {
      background-color: mat-color($theme-warn);
    }
  }
}

// Theme Init
@include angular-material-theme($theme);
@include labels($theme);
@include buttons($theme);
@include text($theme);
@include mat-nav-list($theme);
@include mat-form-field($theme);
@include list($theme);
@include alert($theme);
@include mat-spinner($theme);
@include variables($theme);
@include mat-snackbar($theme);
