@import "variables";

// Compute font config
@include mat-core($fontConfig);

$theme-primary: mat-palette($mat-primary, main, lighter, darker);
$theme-accent: mat-palette($mat-accent, main, lighter, darker);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

$mat-success: darken(#00c48c, 10%);

$tertiary: #d5cfcf;

@mixin labels($theme) {
  mat-label.tertiary {
    color: $tertiary;
  }
}

@mixin buttons($theme) {
  button.mat-raised-button.mat-primary {
    color: #ffffff;
  }
}

@mixin text($theme) {
  h1.title {
    color: #555555;
    font-weight: bold;
  }

  .mat-info {
    color: #0095ff;
  }

  .text-white {
    color: #ffffff;
  }
}

@mixin mat-nav-list($theme) {
  mat-nav-list.mat-nav-list.mat-list-base {
    a.mat-list-item.mat-focus-indicator.active {
      color: #ffffff;
    }
  }

  mat-nav-list.mat-nav-list.mat-list-base {
    a div.mat-list-item-content {
      font-size: 0.8em;
    }
  }
}

@mixin alert($theme) {
  .alert-info {
    color: #0095ff;
    padding: 10px 5px;
    border-radius: 0 0 5px 5px;
    background: #ffffff;
  }
}

@mixin mat-snackbar($theme) {
  snack-bar-container {
    &.success {
      background-color: $mat-success;
    }

    &.error {
      background-color: mat-color($theme-warn);
    }
  }
}

@mixin mat-toolbar($theme) {
  mat-toolbar.mat-toolbar.mat-primary.mat-toolbar-single-row {
    height: auto;
    padding: 10px;
  }
}

// Theme Init
@include angular-material-theme($theme);
@include labels($theme);
@include buttons($theme);
@include text($theme);
@include mat-nav-list($theme);
@include alert($theme);
@include mat-snackbar($theme);
@include mat-toolbar($theme);
