.router-container {
  background-color: #e7e8e0;
  padding: 20px;
  height: calc(100vh - 105px);
}

.logo_image {
  width: 125px;
  height: auto;
}

.separator {
  width: 1.5px;
  height: 40px;
  background-color: #ffff;
  margin: 0 5px;
}
