<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex fxFlex.gt-md="700px" fxLayout="column">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      style="margin-bottom: 10px"
    >
      <h1 class="mat-title">Listado de usuarios</h1>
      <button mat-raised-button color="primary" (click)="openDialog()">
        Agregar usuario
      </button>
    </div>

    <list-user
      fxFlex
      [dataSource]="users"
      (update)="update($event)"
      (delete)="remove($event)"
    ></list-user>

    <div
      fxflex
      fxLayout="row"
      class="alert-info"
      fxLayoutAlign="center center"
      [fxShow]="users.length==0"
    >
      <div fxFlex fxLayoutAlign="start center" fxLayoutGap="10px">
        <div>
          <mat-icon color="info">error</mat-icon>
        </div>
        <div>No se han encontrado registros.</div>
      </div>
    </div>
  </div>
</div>
